<header class="header rounded-top pb-1 mb-2">
<div class="logo d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-light m-1">SARKARI JOB UPDATE</h2>
    <H3 class="text-light">www.sarkarijobupdate.com</H3>
    <H3 class="text-light">A Job Information Portal</H3>
</div>
<div class="navbar-links bg-dark d-flex align-items-center justify-content-center">
    <a href="#" class="text-light text-decoration-none">Home</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Latest Job</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Results</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Admit Card</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Schemes</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Offline Jobs</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Upcoming Jobs</a>
    <hr class="mx-3" style="height: 20px; border-left: 1px solid white;">
    <a href="#" class="text-light text-decoration-none">Scholarship</a>
</div>
<div class="search-div m-2">
    <div class="row g-8">
    <div class="col-10">
    <input type="text" class="search-input form-control" placeholder="Search for jobs, results, admit cards and more...">
    </div>
    <div class="col-2">
    <button class="search-button btn btn-dark">Search...</button>
    </div>
    </div>
</div>
<div>

</div>

</header>