<% layout("layouts/boilerplate") %>
<div>
    <h1>home route</h1>
    <div>
        <% for(post of allposts){%>
            <ul>
                <li><a href="/jobs/<%= post._id %>"><%= post.title%></a></li>
            </ul>
        <%} %>
    </div>
</div>